:root {
    /*colors*/
    --bg-color-primary: #000000;
    --bg-color-secondary: #111111;
    --text-color-title: #FFFFFF;
    --text-color-paragraph: #BBBBBB;
    --text-color-titleBG: #252525;
    /*text sizes*/
    --section-title-smallSize: 4.5rem;
    --section-title-mediumSize: 8rem;
    --section-title-largeSize: 12rem;
    --section-subTitle-size: 4rem;
    --title-size: 1.8rem;
    --paragraph-size: 1.8rem; 
    /*fonts families*/
    --font-text: 'Mulish', sans-serif;
    --font-title: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/*COMPONENTES*/
/* .titleFirstName {
    font-family: var(--font-title);
    font-size: var(--section-title-size);
    font-weight: 900;
    -webkit-text-stroke: 2px var(--text-color-title);
    color: transparent;
} */

.titleWhite {
    font-family: var(--font-title);
    font-size: var(--section-title-smallSize);
    font-weight: 900;
    color: var(--text-color-title);
}

.titleBlack {
    font-family: var(--font-title);
    font-size: var(--section-title-smallSize);
    font-weight: 900;
    -webkit-text-stroke: 2px var(--text-color-titleBG);
    color: transparent;
}

.titleSection {
    font-family: var(--font-title);
    font-size: var(--section-subTitle-size);
    color: var(--text-color-title);
}

/*----- HEADER ----- */
.headerContainer {
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: var(--bg-color-primary);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
    margin: auto;
    padding-top: 1rem;
    position: relative;
}

.logo {
    width: 10rem;
    height: auto;
    object-fit: contain;
}

.navBar {
    font-size: 3rem;
    color: var(--text-color-title);
}

.mainNav {
    width: 70%;
    margin-left: 15rem;
    position: absolute;
    background-color: rgba(0,0,0,1);
    transition: all 0.5s;
} 
.mostrar {
    margin-left: -15rem;
} 


.itemMenu {
    list-style: none;
}

.linkMenu {
    display: inline-block;
    width: 100%;
    margin: 2rem;
    font-family: var(--font-text);
    font-size: var(--paragraph-size);
    color: var(--text-color-title);
    text-decoration: none;
}

@media (min-width: 768px) {
    .headerContainer {
        background-color: rgba(0,0,0,0);
    }
    .header {
        width: 80%;
        height: 20vh;
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
    }

    .logo{
        width: 20rem;
        height: auto;
    }
    .navBar {
        display:none;
        position: unset;
    }

    .menuContainer {
        width: 100%;
    }

    .mainNav {
        width: 100%;
        margin: 0;
        height: 10vh;
        position: unset;
        background-color: rgba(0,0,0,0);
        transition: all 0s;
    } 

    .menu {
        display: flex;
        padding-top: 2rem;
        justify-content: space-between;
        width: 100%;
    }

    .linkMenu {
        margin: 0;
    }

}

@media (min-width: 1024px) {
    .header {
        height: 10vh;
        margin: 1rem auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        width: 20rem;
        height: auto;
    }
    .menuContainer {
        width: 50%;
    }

}
/*----- Fin HEADER -----*/

/*----- HOME ------*/
.homeContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-primary);
}

.home {
    width: 90%;
    display: flex;
}

.titlesHome {
    width: 90%;
    margin: auto;
}

.titleName {
    position: absolute;
    font-size: 2rem;
    font-family: var(--font-text);
    font-style: italic;
    color: var(--text-color-paragraph);
}

.homeImg{
    display: none;
}

@media(min-width: 768px) {
    .homeContainer {
        width: 100%;
        margin: auto;
    }
    .home {
        width: 100%;
        height: 100vh;
        margin: auto;
    }
    .titlesHome {
        width: 30%;
        margin-left: 10%;
        overflow-x: visible;
        position: relative;
    }

    .titleBlack {
        font-size:var(--section-title-mediumSize);
    }
    .titleWhite {
        font-size: var(--section-title-mediumSize);
    }

    .homeImg {
        width: 70%;
        height: auto;
        display: flex;
    }
    
    .homeImg img {
        width: 100%;
        height: 100vh;
        /* object-fit: cover; */
    }
}

@media(min-width: 1024px) {
    .titleBlack {
        font-size:var(--section-title-largeSize);
    }
    .titleWhite {
        font-size: var(--section-title-largeSize);
    }
    .titleName {
        font-size: 4rem;
    }
}
/*----- Fin HOME -----*/

/*----- ABOUT ME -----*/

/*----- Fin ABOUT ME -----*/
